/* Default text options */
body {
    background-color: lightblue;
  }
  
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

  .centered {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
  }

  a.noHyperlink {
    text-decoration: none;
    font-family: 'Segoe UI' Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    vertical-align: middle;
  }


/* CSS for Containers */ 
  div.cyberspace-banner-container {
    background-color:rgb(178, 189, 219);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    border-width: 2px;
    border-color:black;
    border-style:solid;
  }
  .cyberspace-banner-container img {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px
  }
  .cyberspace-banner-container h1 {
    display: inline-block;
    vertical-align: middle;
  }
  .cyberspace-banner-container h2 {
    display: inline-block;
    vertical-align: middle;
  }
  .cyberspace-banner-container .align-right {
    float: right;
    vertical-align: middle;
    padding-right: 5px;
  }
  .align-right .no-hyperlink {
    text-decoration: none;
    font-family: 'Segoe UI' Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    vertical-align: middle;
    float: right;
  }